@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:wght@400;500;600&display=swap');

:root {
    --bg1: #151828;
    --bg2: #1B1F34;
    --body: #959DCC;
    --brand: #FFAB76;
    --white: #fff;
}


